@import './theme.scss';

.FileSelector {
  border: 4px dashed $fgColor;
  padding: 64px;
  border-radius: 5px;
  background: $fillColor;
  text-align: center;
  color: $textColor;
  cursor: pointer;

  &[data-active='true'] {
    background: darken($fillColor, 10%);
    transition: background 0.1s ease-out;
  }
}
