@import './theme.scss';

.FormatErrorMessage {
  display: flex;
  align-items: center;
  padding: spacing(1) spacing(2);
  border-radius: 5px;
  background: $errorTextColor;
  color: $controlBgColor;

  & > span {
    flex: 1 1 0;
    margin-right: spacing(2);
    word-break: break-word;
  }

  & > button {
    flex: none;
  }
}
