@import './theme.scss';

.FormatPreview {
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: spacing(1);
    font-size: $titleFontSize;
    color: $textSecondaryColor;
  }

  &__headerToggle {
    display: flex;
    align-items: center;
    margin-top: spacing(-1);
    margin-bottom: spacing(-1);
    margin-left: spacing(3);
    color: $textColor;
    cursor: pointer;

    > input[type='checkbox'] {
      margin-right: spacing(1);
      width: 1.2em;
      height: 1.2em;
      cursor: pointer;
    }
  }

  &__mainPendingBlock {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: spacing(4);
    color: $textSecondaryColor;
  }
}
