@import './theme.scss';

.ProgressDisplay {
  padding: spacing(4);

  &__status {
    text-align: center;
    font-size: 1rem; // @todo
    color: $textColor;

    &.-pending {
      color: $textSecondaryColor;
    }
  }

  &__count {
    text-align: right;
    font-size: 0.75rem; // @todo
    color: $textSecondaryColor;
  }

  &__progressBar {
    position: relative; // for indicator
    width: 100%;
    height: spacing(1);
    background: $fillColor;
  }

  &__progressBarIndicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 0; // dynamically set in code
    height: 100%;
    background: $textColor;

    transition: width 0.2s ease-out;
  }
}
