html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
}

body {
  overflow-y: scroll; /* always scroll to avoid width jump on Windows */
}

#root {
  position: relative;
  display: flex; /* stretch content to fit */
  justify-content: center;
  z-index: 0; /* reset stacking order */
  min-height: 100%;
  background: #fff;
}
